body {
    background-color: #8bcdff;
}

#main_div {
    background-color: #fff;
    width: 800px;
    height: 600px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#save_info {
    float: right;
}

#auction_main {
    background-color: #123;
    width: 800px;
    height: 600px;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#index_front {
    background-color: #fff;
    width: 800px;
    height: 600px;

    border-radius: 5px;

    margin-top: 50px;
    padding-top: 20px;
}

.inputBar {
    width: 80px;
}